langchain
langchain-ollama
langchain-groq
langchain-openai
python-dotenv
psycopg2-binary
pymongo
mongomock
fakeredis
fastapi
redis
tqdm
uvicorn
rq
psutil
colorlog
deprecated
uvicorn
pytest
pytest-asyncio
python-json-logger
pyfiglet